<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_03_03_2023.Properties.Settings.uchConnectionString"
            connectionString="server=37.77.105.162;user id=Lyuts;password=meox9AKR@;persistsecurityinfo=True;database=uch"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>